.FlexContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#aboutContainer {
  width: 50vw;
}

#wildcodeschoollink {
  color: rgb(#00acee);
}

#shibuyapic {
  width: 25vw;
  margin-right: 2.2vw;
  margin-top: 1vh;
  float: left;
  transition: 0.2s;
  border-radius: 5px;
}

#textabout {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  text-align: justify;
  font-size: 17px;
}

@media only screen and (max-width:768px) {
  #aboutContainer {
    margin-top: 3em;
    width: 70vw;
    transition: .6s;
  }
}

@media only screen and (max-width:460px) {
  #aboutContainer {
    margin-top: 3em;
    width: 90vw;
  }
}