.FlexContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 70vh;
}

.UC {
    height: 60vh;
}

@media only screen and (max-width:768px){
    .UC {
        height: 90vw;
    }
}

@media only screen and (max-width:460px) {
    .UC {
        height: 90vw;
    }
}