.FlexContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 70vh;
}

.card {
    width: 25vw;
    font-size: 1.3vw;
}

/* .UC {
    height: 60vh;
} */

@media only screen and (max-width:768px){
    /* .UC {
        height: 90vw;
    } */

    .cardimg {
        width: 20vw;
        font-size: 17px;
    }
}

@media only screen and (max-width:460px) {
    /* .UC {
        height: 90vw;
    } */

    .cardimg {
        width: 20vw;
        font-size: 17px;
    }
}